.root {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  height: 80%;
}

.leftGrid {
  flex:1;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  margin: 0 auto;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.rightGrid {
  flex:1;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .root {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    height: 50%;
  }
}